body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.723), rgba(0, 0, 0, 0.526)), url('img/bg.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
}

.card{
  background-color: rgba(40, 33, 38, 0.303);
  box-shadow: 0 1px 15px 1px rgba(33, 228, 238, 0.54);
  border-radius: 30px;
}
.text-input{
  padding-bottom: 40px;
}

.img1{
  padding: 10px 10px 10px;
}

.input{
  background-color: rgba(0, 255, 255, 0.118);
  max-width: 190px;
  height: 40px;
  padding: 10px;
  text-align: center;
  border: 2px solid rgba(85, 228, 244, 0.608);
  border-radius: 5px;
}
.input:focus{
  color: rgba(0, 13, 255, 0.204);
  background-color: rgba(30, 30, 31, 0.203);
  outline-color: rgb(0, 255, 255);
  box-shadow: 3px 3px 5px rgb(0, 255, 255);
  transition: .1s;
  transition-property: box-shadow;
}
.input[type="text"]{
  color: white;
}
.btn-img{
  padding-top: 20px
}
.btn-img .btn{
  border-radius: 100px;
  box-shadow: 1px 1px 5px 1px rgb(0, 255, 255);
}

.container{
  padding-top: 10px;
}
.button{
  padding-top: 35px;
}
.btn{
  border-radius: 20px;
}
.content {
  display: none;
}
.card-container {
  display: none;
}
.active-card {
  display: block;
}
.toggle-card-button {
  display: block;
}
.whatsapp-button {
  display: none;
}